/* rooting colors for basic robot customization */

:root {
    /* MAIN COLORS */
    --color--main-1: #c7b7d8;
    --color--main-2: #CABFD6;
    --color--main-3: #7A7B91;
    --color--main-4: #5E5A6B;
    --color-detail-1: #AE6AE6;
    --color-detail-2: #995D93;
    --color-detail-3: #E3BFE1;
    --color-detail-4: #B4D6D3;

    /* #116AA6 #FF201F #F2F018 #FF94EE #00E575 #D57AFF #B30056 */

    /* vitamin */
    --color-vitamin-light: #1b92dc;
    --color-vitamin-medium: #116AA6;
    --color-vitamin-dark: #083553;
    /* vikuel */
    --color-vikuel-light: #fd7070;
    --color-vikuel-medium: #FF201F;
    --color-vikuel-dark: #772424;
    /* doubletrouble */
    --color-doubletrouble-light: #fffd74;
    --color-doubletrouble-medium: #F2F018;
    --color-doubletrouble-dark: #7c7b25;
    /* jagger */
    --color-jagger-light: #f8cff1;
    --color-jagger-medium: #FF94EE;
    --color-jagger-dark: #4f2e49;
    /* raw  */
    --color-raw-light: #75faba;
    --color-raw-medium: #00E575;
    --color-raw-dark: #2f7051;
    /* manitou */
    --color-manitou-light: #e7b4ff;
    --color-manitou-medium: #D57AFF;
    --color-manitou-dark: #583866;
    /* dmitri  */
    --color-dmitri-light: #f33f96;
    --color-dmitri-medium: #B30056;
    --color-dmitri-dark: #5a1f3c;


}

body {

    background-color: var(--color--main-4);


    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    margin: 0em;

    display: flex;
    flex-direction: column;
    align-items: center;


}

/* NAVBAR */

/* NAVBAR ROBOTS IDs */

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#rotating {
    -webkit-animation: rotating 70s linear infinite;
    -moz-animation: rotating 70s linear infinite;
    -ms-animation: rotating 70s linear infinite;
    -o-animation: rotating 70s linear infinite;
    animation: rotating 70s linear infinite;
}

/* we still have to figure something special for these little fellas */

#navbar_robot_detail {
    background-color: crimson;

}

.logo_navbar {

    background-color: var(--color--main-1);

    height: 15vh;
    width: 90vw;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    transition: 0.5s;


}

.logo_navbar:hover {

    transition: 0.5s;

    transform: rotateX(180deg);

}

.navbar_1 {
    background-color: transparent;

    height: 4em;
    width: 4em;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: rotateZ(90deg);

}

.navbar_2 {
    background-color: var(--color--main-1);

    height: 4em;
    width: 54em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    transition: 0.5s;


}


/* TITLE PROJECT:ROBOSTRIKE */

.navbar_title {
    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: row;
}

/* LETTER P */

.navbar_title_P {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_P_1 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.navbar_title_P_1_1 {
    background-color: black;

    height: inherit;
    width: 2.1em;

    border-radius: 0% 50% 50% 0%;

}

.navbar_title_P_1_2 {
    background-color: transparent;

    height: inherit;
    width: 0.9em;

}

.navbar_title_P_2 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.navbar_title_P_2_1 {
    background-color: black;

    height: inherit;
    width: 0.9em;

}

.navbar_title_P_2_2 {
    background-color: transparent;

    height: inherit;
    width: 2.1em;

    /* LETTER R */
}

.navbar_title_R {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}


.navbar_title_R_1 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.navbar_title_R_1_1 {
    background-color: black;

    height: inherit;
    width: 2.1em;

    border-radius: 0% 50% 50% 0%;

}

.navbar_title_R_1_2 {
    background-color: transparent;

    height: inherit;
    width: 0.9em;

}

.navbar_title_R_2 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.navbar_title_R_2_1 {
    background-color: black;

    height: inherit;
    width: 0.9em;

}

.navbar_title_R_2_2 {
    background-color: transparent;

    height: 0;
    width: 0;

    border-left: 0em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 2em solid black;

}

/* LETTER O */

.navbar_title_O {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_O_1 {
    background-color: black;

    height: 2em;
    width: inherit;

    border-radius: 50% 50% 0% 0%;

}

.navbar_title_O_2 {
    background-color: black;

    height: 2em;
    width: inherit;

    border-radius: 0% 0% 50% 50%;

}

/* LETTER J */

.navbar_title_J {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}


.navbar_title_J_1 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.navbar_title_J_1_1 {
    background-color: transparent;

    height: inherit;
    width: 2.1em;

}

.navbar_title_J_1_2 {
    background-color: black;

    height: inherit;
    width: 0.9em;

}

.navbar_title_J_2 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.navbar_title_J_2_1 {
    background-color: black;

    height: inherit;
    width: 2em;

    border-radius: 0% 0% 0% 50%;

    display: flex;
    flex-direction: row-reverse;
}

.navbar_title_J_2_1_1 {
    background-color: var(--color--main-1);

    height: 1em;
    width: 1em;

    border-radius: 0% 0% 50% 50%;

}

.navbar_title_J_2_2 {
    background-color: black;

    height: inherit;
    width: 0.9em;

    border-radius: 0% 0% 50% 0%;

}

/* LETTER E */

.navbar_title_E {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar_title_E_full {
    background-color: black;

    height: 0.8em;
    width: 2.5em;

}

.navbar_title_E_empty {
    background-color: transparent;

    height: 0.8em;
    width: inherit;

}

/* LETTER K */

.navbar_title_K {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_K_1 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.navbar_title_K_1_1 {
    background-color: black;

    height: inherit;
    width: 0.9em;

}

.navbar_title_K_1_2 {
    background-color: transparent;

    height: 0;
    width: 0;

    border-left: 0em solid transparent;
    border-right: 2em solid transparent;
    border-top: 2em solid black;

}

.navbar_title_K_2 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.navbar_title_K_2_1 {
    background-color: black;

    height: inherit;
    width: 0.9em;

}

.navbar_title_K_2_2 {
    background-color: transparent;

    height: 0;
    width: 0;

    border-left: 0em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 2em solid black;

}

/* LETTER T */

.navbar_title_T {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_T_1 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

.navbar_title_T_1_1 {
    background-color: black;

    height: 1em;
    width: 1em;
}

.navbar_title_T_1_2 {
    background-color: black;

    height: inherit;
    width: 1em;
}

.navbar_title_T_1_3 {
    background-color: black;

    height: 1em;
    width: 1em;
}

.navbar_title_T_2 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;
}

.navbar_title_T_2_1 {
    background-color: transparent;

    height: inherit;
    width: 1em;
}

.navbar_title_T_2_2 {
    background-color: black;

    height: inherit;
    width: 1em;
}

.navbar_title_T_2_3 {
    background-color: transparent;

    height: inherit;
    width: 1em;
}

/* ELEMENT => : */

.navbar_title_twopoints {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.navbar_title_twopoints_1 {
    background-color: black;

    height: 1em;
    width: 1em;

    border-radius: 40% 20% 44% 50%;

}

.navbar_title_twopoints_2 {
    background-color: black;

    height: 1em;
    width: 1em;

    border-radius: 44% 50% 40% 20%;

}

.navbar_title_space {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

/* LETTER B */

.navbar_title_B {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_B_1 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.navbar_title_B_1_1 {
    background-color: black;

    height: inherit;
    width: 2.1em;

    border-radius: 0% 50% 50% 0%;

}

.navbar_title_B_1_2 {
    background-color: transparent;

    height: inherit;
    width: 0.5em;

}

/* LETTER S */

.navbar_title_S {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_S_1 {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.navbar_title_S_1_1 {
    background-color: black;

    height: inherit;
    width: 2em;

    border-radius: 0% 50% 50% 0%;

    display: flex;
    flex-direction: column;

}

.navbar_title_S_1_1_1 {
    background-color: var(--color--main-1);


    height: 0;
    width: 0;

    border-left: 0.7em solid transparent;
    border-right: 0em solid transparent;
    border-top: 0.5em solid black;

}

.navbar_title_S_1_1_2 {
    background-color: var(--color--main-1);

    height: 1em;
    width: 1em;

    border-radius: 0% 50% 50% 0%;
}

.navbar_title_S_1_2 {
    background-color: transparent;

    height: inherit;
    width: 0.1em;

}

#reverse {

    transform: rotateY(-180deg);
    transform: rotateZ(-180deg);


}


/* LETTER I: this one has a flex-direction row instead of column */

.navbar_title_I {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: row;

}

.navbar_title_I_1 {
    background-color: transparent;

    height: inherit;
    width: 1em;

}

.navbar_title_I_2 {
    background-color: black;

    height: inherit;
    width: 1em;

}

.navbar_title_I_3 {
    background-color: transparent;

    height: inherit;
    width: 1em;

}

/* END OF THE LETTERS */

.navbar_3 {
    background-color: transparent;

    height: 4em;
    width: 4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: rotateZ(-90deg);

}

/* SCREENS */

/* screen 1 is in style_intro.css */

/* screen2 */

/* menu: start / settings / exit */

.screen_menu {

    background-color: var(--color--main-1);


    height: 85vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    transition: 2s;

}

.screen_menu_button {
    background-color: var(--color--main-3);

    height: 6em;
    width: 30em;

    color: var(--color--main-1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 1em;

    transition: 1s;


    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.screen_menu_button:hover {
    background-color: var(--color--main-1);

    color: black;

    opacity: 90%;

    height: 8em;
    width: 30em;

    border: 0.1rem black;
    border-style: solid;

    border-radius: 2em;

    transition: 1s;

}

/* screen3 */

.screen_selection {

    height: 85vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    
    transition: 1s;

}

.screen_selection_header {
    background-color: var(--color--main-1);

    margin: 1em;

    height: 10vh;
    width: 90vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 0.3em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;

    
    transition: 1s;


}

.screen_selection_robots {
    background-color: var(--color--main-1);

    margin: 1em;

    height: 30vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
    transition: 1s;

}

.screen_selection_robots_cards {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1em;

    height: 14em;
    width: 16em;

    border-radius: 5% 0% 10% 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 1s;

}

.screen_selection_container_tags {
    background-color: whitesmoke;

    margin: 0.5em;

    height: 2em;
    width: 11em;

    border-radius: 5%;

    display: flex;
    align-items: center;
    justify-content: center;


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 600;

    
    transition: 1s;
}

.screen_selection_indicator {
    background-color: transparent;


    height: 15vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.data_container {
    background-color: transparent;

    height: 3em;
    width: 20em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.team_data {
    background-color: var(--color--main-2);

    height: 2em;
    width: 9em;

    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.2em;

    margin-right: 2rem;
}

.robotData {
    background-color: var(--color--main-2);

    height: 2em;
    width: 10em;

    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 400;

    border-radius: 0.2em;
}


.Selected_Robot {


    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-animation: selected_robot_rotation 10s linear infinite;
    -moz-animation: selected_robot_rotation 10s linear infinite;
    -ms-animation: selected_robot_rotation 10s linear infinite;
    -o-animation: selected_robot_rotation 10s linear infinite;
    animation: selected_robot_rotation 10s linear infinite;

}

@-webkit-keyframes selected_robot_rotation {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes selected_robot_rotation {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.screen_selection_play_button {
    background-color: transparent;

    height: 4em;
    width: 25em;

    display: flex;


}

.play_button {
    background-color: whitesmoke;

    height: inherit;
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 400;

    transition: 1s;

    border-radius: 0.2em;

}

.play_button:hover {
    background-color: var(--color--main-4);

    height: 4.5em;

    border: 0.1rem black;
    border-style: solid;

    transition: 1s;

    border-radius: 1em;

}

/* screen4 */

.screen_ingame {

    background-color: transparent;

    height: 85vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* red screen for onclick start game */

.screen_ingame_front {
    background-color: var(--color-detail-4);

    opacity: 80%;

    margin-bottom: 2em;

    height: 90vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2em;

    position: relative;
    z-index: 100;
}

.screen_ingame_front:hover {

    opacity: 95%;

    margin-bottom: 2em;

    height: 95vh;
    width: 95vw;

    border: 0.1rem black;
    border-style: solid;

}

.startSquare {

    height: 4em;
    width: 10em;
}

/* actual game screen */

.screen_ingame_back {
    background-color: transparent;

    height: 85vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

}

.screen_ingame_top {

    background-color: var(--color--main-1);

    height: 36em;
    width: 110em;

    border-radius: 1em 1em 0% 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.screen_ingame_character_container {

    background-color: var(--color--main-1);

    margin-top: 1rem;

    height: 35em;
    width: 50em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.screen_ingame_character_container_robot {
    background-color: var(--color--main-3);

    height: 29em;
    width: 50em;

    border-radius: 1em 1em 0 0 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}

.screen_ingame_character_container_stats_full {
    background-color: transparent;

    height: 6em;
    width: 50em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.screen_ingame_character_container_stats {
    background-color: transparent;

    height: 6em;
    width: 18em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.screen_ingame_character_meters {
    background-color: var(--color--main-2);



    margin: 0%;
    padding: 0%;

    height: 6em;
    width: 18em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.screen_ingame_character_meters_fixed {
    background-color: var(--color--main-1);





    height: 2em;
    width: 12em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.screen_ingame_character_meters_variant {
    background-color: var(--color--main-1);
    height: 3em;
    width: 12em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen_ingame_character_energy {
    background-color: var(--color--main-2);

    margin: 0%;
    padding: 0%;

    height: 6em;
    width: 18em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.screen_ingame_character_energy_fixed {
    background-color: var(--color--main-1);

    height: 2em;
    width: 12em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen_ingame_character_energy_variant {
    background-color: var(--color--main-1);

    height: 3em;
    width: 12em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stats_container {
    background-color: var(--color--main-2);

    margin: 0%;
    padding: 0%;

    height: 6em;
    width: 35em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.stats_container_rows {
    background-color: transparent;

    height: 6em;
    width: 18em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.stats_fabrication {
    background-color: var(--color--main-1);

    height: 2em;
    width: 12em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stats_meters {
    background-color: transparent;


    height: 2em;
    width: 12em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stats_energy {
    background-color: transparent;

    height: 2em;
    width: 12em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.screen_ingame_bot {

    background-color: var(--color--main-1);





    margin-top: 1rem;

    height: 9em;
    width: 110em;

    border-radius: 0% 0% 1em 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.screen_ingame_bot_controls {
    background-color: var(--color--main-2);

    height: 8em;
    width: 50em;

    border-radius: 0 0 1em 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.screen_ingame_bot_controls_move {
    background-color: var(--color--main-3);

    height: 2em;
    width: 10em;

    font-size: 1rem;

    border-radius: 0.2em;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 1s;


}
.screen_ingame_bot_controls_move:hover {
    background-color: var(--color--main-2);

    height: 3em;
    width: 11m;

    border: 0.1rem black;
    border-style: solid;


    transition: 1s;


}

.screen_ingame_bot_controls_attack {
    background-color: var(--color--main-3);

    height: 2em;
    width: 10em;

    font-size: 1rem;

    border-radius: 0.2em;
    
    transition: 1s;

    display: flex;
    align-items: center;
    justify-content: center;


}

.screen_ingame_bot_controls_attack:hover {
    background-color: var(--color--main-2);

    height: 3em;
    width: 11m;

    border: 0.1rem black;
    border-style: solid;


    transition: 1s;


}

.screen_ingame_bot_controls_heal {
    background-color: var(--color--main-3);

    height: 2em;
    width: 10em;

    font-size: 1rem;

    border-radius: 0.2em;

    
    transition: 1s;

    display: flex;
    align-items: center;
    justify-content: center;


}
.screen_ingame_bot_controls_heal:hover {
    background-color: var(--color--main-2);

    height: 3em;
    width: 11m;

    border: 0.1rem black;
    border-style: solid;


    transition: 1s;


}



/* screen5 */

.screen_credits {

    background-color: transparent;

    height: 85vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.winner_class {

    background-color: var(--color-detail-4);

    height: 100vh;
    width: 100vw;

    font-size: 4em;

    color: black;

    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ROBOT CLASS */

.container_robot {

    background-color: transparent;

    margin: 1em;
    padding: 0%;

    height: 5em;
    width: 5em;

    position: relative;
    


}

.container_robot:hover {

    opacity: 80%;
}

/* ROBOT: SYMBOLS */

.container_robot_symbol {
    background-color: transparent;

    height: 5em;
    width: 5em;

    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 150;



}

.container_robot_symbol_top {
    background-color: transparent;

    height: 1.5em;
    width: inherit;

    display: flex;
    flex-direction: row;


}

.container_robot_symbol_mid {
    background-color: transparent;

    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;


}

.container_robot_symbol_bot {
    background-color: transparent;

    height: 1.5em;
    width: inherit;

    display: flex;
    flex-direction: row;


}

.container_robot_symbol_1 {

    height: inherit;
    width: 1.5em;

}

.container_robot_symbol_2 {
    background-color: transparent;

    height: inherit;
    width: 2em;


}

.container_robot_symbol_3 {
    background-color: transparent;

    height: inherit;
    width: 1.5em;

}

.container_robot_symbol_4 {
    background-color: transparent;

    height: inherit;
    width: 1.5em;


}

.container_robot_symbol_5 {
    background-color: transparent;

    height: inherit;
    width: 2em;

}

.container_robot_symbol_6 {
    background-color: transparent;

    height: inherit;
    width: 1.5em;

}

.container_robot_symbol_7 {
    background-color: transparent;

    height: inherit;
    width: 1.5em;

}

.container_robot_symbol_8 {
    background-color: transparent;

    height: inherit;
    width: 2em;

}

.container_robot_symbol_9 {
    background-color: transparent;

    height: inherit;
    width: 1.5em;

}


/* ROBOT: BODY AND CANNON */

.container_robot_upperpart {


    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: row;

    z-index: 100;
    position: absolute;



}


.container_robot_upperpart_1 {


    background-color: transparent;

    height: inherit;
    width: 1em;

}

.container_robot_upperpart_2 {


    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;


}

/* CANNON */

.container_robot_upperpart_2_1 {


    background-color: transparent;

    height: 1em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.container_robot_upperpart_2_1_1 {


    background-color: transparent;

    height: inherit;
    width: 1em;
}

/* BARREL */


.container_robot_upperpart_2_1_2 {

    background-color: transparent;

    height: inherit;
    width: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_robot_upperpart_2_1_2_1 {

    background-color: transparent;

    height: 0.005em;
    width: inherit;
}

.container_robot_upperpart_2_1_2_2 {

    background-color: transparent;

    height: 0.55em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.container_robot_upperpart_2_1_2_2_1 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}

.container_robot_upperpart_2_1_2_2_2 {

    background-color: lightcyan;

    height: inherit;
    width: 0.6em;


}

.container_robot_upperpart_2_1_2_2_3 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}

.container_robot_upperpart_2_1_2_3 {

    background-color: transparent;

    height: 0.4em;
    width: inherit;

    display: flex;
    flex-direction: row;
}

.container_robot_upperpart_2_1_2_3_1 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}

.container_robot_upperpart_2_1_2_3_2 {

    background-color: lightcyan;

    height: inherit;
    width: 0.6em;

    border-radius: 0% 0% 50% 50%;


}

.container_robot_upperpart_2_1_2_3_3 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}



.container_robot_upperpart_2_1_3 {


    background-color: transparent;

    height: inherit;
    width: 1em;
}

/* BODY */

.container_robot_upperpart_2_2 {

    background-color: lightcyan;

    height: 3em;
    width: inherit;

    border-radius: 50% 50% 50% 50%;

    display: flex;
    flex-direction: row;

    position: relative
}

.container_robot_upperpart_2_2_1 {

    background-color: transparent;

    height: inherit;
    width: 0.5em;


}

.container_robot_upperpart_2_2_2 {

    background-color: darkgray;

    height: 2.5em;

    /* there is a 0.5 empty space here  and still works */

    width: 2em;

    border-radius: 0% 0% 50% 50%;



}

.container_robot_upperpart_2_2_3 {

    background-color: transparent;

    height: inherit;
    width: 0.5em;


}

.container_robot_upperpart_2_3 {


    background-color: transparent;

    height: 1em;
    width: inherit;
}


.container_robot_upperpart_3 {


    background-color: transparent;

    height: inherit;
    width: 1em;

}

/* SIDE CANNON */

.container_robot_upperpart_sidecannon {

    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: column;


    z-index: 110;
    position: absolute;
}

.container_robot_upperpart_sidecannon_1 {

    background-color: transparent;

    height: 1.8em;
    width: inherit;



}

.container_robot_upperpart_sidecannon_2 {

    background-color: transparent;

    height: 1.4em;
    width: inherit;

    display: flex;
    flex-direction: row;



}

.container_robot_upperpart_sidecannon_2_1 {

    background-color: transparent;

    height: inherit;
    width: 2.5em;



}

.container_robot_upperpart_sidecannon_2_2 {

    background-color: transparent;

    height: inherit;
    width: 2.5em;

    display: flex;
    flex-direction: inherit;

}

/* SIDE CANNON BODY */

.container_robot_upperpart_sidecannon_2_2_1 {

    background-color: lightslategray;

    height: inherit;
    width: 1.4em;

    border-radius: 50% 0% 0% 50%;
}


.container_robot_upperpart_sidecannon_2_2_2 {

    background-color: transparent;

    height: inherit;
    width: 0.5em;

    display: flex;
    flex-direction: column;

}

/* SIDE BARRELS */


.container_robot_upperpart_sidecannon_2_2_2_1 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_2_2_2_2 {
    background-color: lightgray;

    height: 0.2em;
    width: inherit;

    border-radius: 20% 0% 0% 20%;
}

.container_robot_upperpart_sidecannon_2_2_2_3 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_2_2_2_4 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;

    border-radius: 20% 0% 0% 20%;
}

.container_robot_upperpart_sidecannon_2_2_2_5 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_2_2_2_6 {
    background-color: lightgray;

    height: 0.2em;
    width: inherit;

    border-radius: 20% 0% 0% 20%;
}

.container_robot_upperpart_sidecannon_2_2_2_7 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_3 {

    background-color: transparent;

    height: 1.8em;
    width: inherit;



}

/* ROBOT: WHEELS AND BASE */


.container_robot_groundpart {

    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: row;
}

/* LEFT WHEEL */

.container_robot_groundpart_1 {
    background-color: darkslategray;

    height: inherit;
    width: 2em;

    border-radius: 15% 0% 0% 15%;
}

/* BASE */

.container_robot_groundpart_2 {
    background-color: transparent;

    height: inherit;
    width: 1em;

    display: flex;
    flex-direction: column;

}

.container_robot_groundpart_2_1 {
    background-color: transparent;

    height: 0.3em;
    width: inherit;

}

.container_robot_groundpart_2_2 {
    background-color: black;

    height: 4.4em;
    width: inherit;

}

.container_robot_groundpart_2_3 {
    background-color: transparent;

    height: 0.3em;
    width: inherit;

}

/* RIGHT WHEEL */

.container_robot_groundpart_3 {
    background-color: darkslategray;

    height: inherit;
    width: 2em;

    border-radius: 0% 15% 15% 0%;
}

/* ROBOT's DETAILS */


/* Vitamin */

#robot_vitamin_1 {}

#robot_vitamin_2 {}

#robot_vitamin_3 {}

#robot_vitamin_4 {
    background-color: var(--color-vitamin-light);

    border-radius: 0 1em 0 1em;

}

#robot_vitamin_5 {
    background-color: var(--color-vitamin-medium);

    border-radius: 0 0 50% 50%;
}

#robot_vitamin_6 {
    
    background-color: var(--color-vitamin-light);

    border-radius: 1em 0 1em 0;
}

#robot_vitamin_7 {
    
    background-color: var(--color-vitamin-dark);

    border-radius: 0 1em 0 1em;

    height: 1em;
}

#robot_vitamin_8 {
    background-color: var(--color-vitamin-dark);

    opacity: 50%;

    height: 1em;

}

#robot_vitamin_9 {
    
    background-color: var(--color-vitamin-dark);

    border-radius: 1em 0 1em 0;

    height: 1em;
}

/* VIKUEL */

#robot_vikuel_1 {}

#robot_vikuel_2 {}

#robot_vikuel_3 {}

#robot_vikuel_4 {
    
    background-color: var(--color-vikuel-medium);

    border-radius: 0 0 50% 50%;
    opacity: 50%;
}


#robot_vikuel_5 {
    background-color: var(--color-vikuel-medium);

    border-radius: 0 0 50% 50%;
}

#robot_vikuel_6 {
    
    background-color: var(--color-vikuel-medium);

    border-radius: 0 0 50% 50%;
    opacity: 50%;
}

#robot_vikuel_7 {}

#robot_vikuel_8 {}

#robot_vikuel_9 {}

/* DOUBLE_TROUBLE */

#robot_double_trouble_1 {}

#robot_double_trouble_2 {}

#robot_double_trouble_3 {}

#robot_double_trouble_4 {
    background-color: var(--color-doubletrouble-light);
    height: 0.5em;

    
    border-radius: 0% 50% 50% 50%;}

#robot_double_trouble_5 {
    background-color: var(--color-doubletrouble-medium);

    border-radius: 50% 50% 50% 50%;
}

#robot_double_trouble_6 {
    background-color: var(--color-doubletrouble-light);
    height: 0.5em;

    
    border-radius: 50% 0% 50% 0%;}

#robot_double_trouble_7 {
    background-color: var(--color-doubletrouble-light);
    height: 0.5em;

    opacity: 30%;

    
    border-radius: 50% 0% 0% 50%;}

#robot_double_trouble_8 {
    background-color: var(--color-doubletrouble-light);
    height: 0.5em;

    
    opacity: 30%;
    
    border-radius: 50% 50% 0% 0%;}

#robot_double_trouble_9 {
    background-color: var(--color-doubletrouble-light);
    height: 0.5em;
    
    opacity: 30%;

    
    border-radius: 50% 50% 50% 0%;}

/* Jagger */

#robot_jagger_1 {
    background-color: var(--color-jagger-medium);
    
    border-radius: 1em 0 0 0;
    opacity: 30%;
}

#robot_jagger_2 {}

#robot_jagger_3 {
    background-color: var(--color-jagger-medium);

    border-radius: 0 1em 0 0;
    opacity: 30%;
}

#robot_jagger_4 {
    background-color: var(--color-jagger-medium);

    opacity: 70%;
}

#robot_jagger_5 {
    background-color: var(--color-jagger-dark);

    border-radius: 50% 50% 50% 50%;
}

#robot_jagger_6 {
    background-color: var(--color-jagger-medium);

    opacity: 70%;
}

#robot_jagger_7 {
    background-color: var(--color-jagger-medium);
    
    border-radius: 0 0 0 1em;
    opacity: 30%;
}

#robot_jagger_8 {
    background-color: var(--color-jagger-medium);

    opacity: 70%;

    height: 0.7em;

    border-radius: 0 0 0.4em 0.4em;
}

#robot_jagger_9 {
    background-color: var(--color-jagger-medium);

    border-radius: 0 0 1em 0;
    opacity: 30%;}

/* Raw */

#robot_raw_1 {
    background-color: var(--color-raw-dark);

    height: 0.3em;
}

#robot_raw_2 {
    background-color: var(--color-raw-dark);

    opacity: 50%;
    height: 0.3em;}

#robot_raw_3 {
    background-color: var(--color-raw-dark);

    height: 0.3em;}

#robot_raw_4 {
    background-color: var(--color-raw-dark);

    height: 0.3em;}

#robot_raw_5 {
    background-color: var(--color-raw-medium);

    border-radius: 50% 50% 50% 50%;
}

#robot_raw_6 {
    background-color: var(--color-raw-dark);

    height: 0.3em;}

#robot_raw_7 {
    background-color: var(--color-raw-dark);

    height: 0.3em;}

#robot_raw_8 {
    background-color: var(--color-raw-dark);
opacity: 50%;

    height: 0.3em;}

#robot_raw_9 {
    background-color: var(--color-raw-dark);

    height: 0.3em;}

/* Manitou */



#robot_manitou_1 {
    background-color: var(--color-manitou-light);
    border-radius: 1em 0 0 0;
}

#robot_manitou_2 {}

#robot_manitou_3 {
    background-color: var(--color-manitou-light);
    border-radius: 0 1em 0 0;
}

#robot_manitou_4 {
    background-color: var(--color-manitou-light);

    border-radius: 0 0 0 1em;

    opacity: 80%;
}

#robot_manitou_5 {
    background-color: var(--color-manitou-dark);

    border-radius: 50% 50% 0% 0%;
}

#robot_manitou_6 {
    background-color: var(--color-manitou-light);

    border-radius: 0 0 1em 0;

    opacity: 80%;
}

#robot_manitou_7 {
    background-color: var(--color-manitou-light);

    border-radius: 0 0 0 0.5em;
}

#robot_manitou_8 {
    background-color: var(--color-manitou-medium)}

#robot_manitou_9 {
    background-color: var(--color-manitou-light);

    border-radius: 0 0 0.5em 0;
}

/* D-Mitri */



#robot_dmitri_1 {
    
    background-color: var(--color-dmitri-medium);

    border-radius: 1em 1em 0 0;
}

#robot_dmitri_2 {

}

#robot_dmitri_3 {
    
    background-color: var(--color-dmitri-medium);

    border-radius: 1em 1em 0 0;
}

#robot_dmitri_4 {
    
    background-color: var(--color-dmitri-medium);
}

#robot_dmitri_5 {
    background-color: var(--color-dmitri-light);

    border-radius: 50% 50% 0 0;
}

#robot_dmitri_6 {
    
    background-color: var(--color-dmitri-medium);

}

#robot_dmitri_7 {
    
    background-color: var(--color-dmitri-medium);
    
    border-radius: 0 0 0 1em;
}

#robot_dmitri_8 {
    
    background-color: var(--color-dmitri-light);
}

#robot_dmitri_9 {
    
    background-color: var(--color-dmitri-medium);

    border-radius: 0 0 1em 0;
}







