body {

    background-color: lightslategrey;


    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    margin: 1em 1em 1em 1em;

    display: flex;
    flex-direction: column;
    align-items: center;


}


.screen_top {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* NAVBAR */

.logo_navbar {

    background-color: whitesmoke;

    height: 15vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

.navbar_1 {
    background-color: red;

    height: 4em;
    width: 4em;

}

.navbar_2 {
    background-color: lightgray;

    height: 4em;
    width: 54em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

.navbar_2:hover {
    opacity: 80%;

    height: 4.5em;
    width: 54.5em;

    align-items: center;
    justify-content: center;

}

/* TITLE PROJECT:ROBOSTRIKE */

.navbar_title {
    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: row;
}

/* LETTER P */

.navbar_title_P {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}
.navbar_title_P_1 {
    background-color: transparent;
    
    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}
.navbar_title_P_1_1 {
    background-color: black;

    height: inherit;
    width: 2.1em;

    border-radius: 0% 50% 50% 0%;

}
.navbar_title_P_1_2 {
    background-color: transparent;

    height: inherit;
    width: 0.9em;

}
.navbar_title_P_2 {
    background-color: transparent;
    
    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}
.navbar_title_P_2_1 {
    background-color: black;

    height: inherit;
    width: 0.9em;

}
.navbar_title_P_2_2 {
    background-color: transparent;

    height: inherit;
    width: 2.1em;

    /* LETTER R */
}
.navbar_title_R {
    background-color: red;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}


.navbar_title_R_1 {
    background-color: transparent;
    
    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}
.navbar_title_R_1_1 {
    background-color: black;

    height: inherit;
    width: 2.1em;

    border-radius: 0% 50% 50% 0%;

}
.navbar_title_R_1_2 {
    background-color: transparent;

    height: inherit;
    width: 0.9em;

}
.navbar_title_R_2 {
    background-color: transparent;
    
    height: 2em;
    width: inherit;

    display: flex;
    flex-direction: row;

}
.navbar_title_R_2_1 {
    background-color: black;

    height: inherit;
    width: 0.9em;

}
.navbar_title_R_2_2 {
    background-color: transparent;

    height: 0;
    width: 0;

  border-left: 0em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 2em solid black;

}

.navbar_title_O {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_J {
    background-color: red;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_E {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_K {
    background-color: red;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_T {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_twopoints {
    background-color: red;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_space {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_B {
    background-color: red;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_S {
    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}

.navbar_title_I {
    background-color: red;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;

}




.navbar_3 {
    background-color: blue;

    height: 4em;
    width: 4em;

}

/* ROBOT CLASS */

.container_robot {

    background-color: transparent;

    margin: 1em;
    padding: 0%;

    height: 5em;
    width: 5em;

    position: relative;


}

.container_robot:hover {

    opacity: 80%;
}


/* ROBOT: BODY AND CANNON */

.container_robot_upperpart {


    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: row;

    z-index: 100;
    position: absolute;



}


.container_robot_upperpart_1 {


    background-color: transparent;

    height: inherit;
    width: 1em;

}

.container_robot_upperpart_2 {


    background-color: transparent;

    height: inherit;
    width: 3em;

    display: flex;
    flex-direction: column;


}

/* CANNON */

.container_robot_upperpart_2_1 {


    background-color: transparent;

    height: 1em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.container_robot_upperpart_2_1_1 {


    background-color: transparent;

    height: inherit;
    width: 1em;
}

/* BARREL */


.container_robot_upperpart_2_1_2 {

    background-color: transparent;

    height: inherit;
    width: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_robot_upperpart_2_1_2_1 {

    background-color: transparent;

    height: 0.005em;
    width: inherit;
}

.container_robot_upperpart_2_1_2_2 {

    background-color: transparent;

    height: 0.55em;
    width: inherit;

    display: flex;
    flex-direction: row;

}

.container_robot_upperpart_2_1_2_2_1 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}

.container_robot_upperpart_2_1_2_2_2 {

    background-color: lightcyan;

    height: inherit;
    width: 0.6em;


}

.container_robot_upperpart_2_1_2_2_3 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}

.container_robot_upperpart_2_1_2_3 {

    background-color: transparent;

    height: 0.4em;
    width: inherit;

    display: flex;
    flex-direction: row;
}

.container_robot_upperpart_2_1_2_3_1 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}

.container_robot_upperpart_2_1_2_3_2 {

    background-color: lightcyan;

    height: inherit;
    width: 0.6em;

    border-radius: 0% 0% 50% 50%;


}

.container_robot_upperpart_2_1_2_3_3 {

    background-color: transparent;

    height: inherit;
    width: 0.2em;


}



.container_robot_upperpart_2_1_3 {


    background-color: transparent;

    height: inherit;
    width: 1em;
}

/* BODY */

.container_robot_upperpart_2_2 {

    background-color: lightcyan;

    height: 3em;
    width: inherit;

    border-radius: 50% 50% 50% 50%;

    display: flex;
    flex-direction: row;

    position: relative
}

.container_robot_upperpart_2_2_1 {

    background-color: transparent;

    height: inherit;
    width: 0.5em;


}

.container_robot_upperpart_2_2_2 {

    background-color: lightgrey;

    height: 2.5em;

    /* there is a 0.5 empty space here  and still works */

    width: 2em;

    border-radius: 0% 0% 50% 50%;



}

.container_robot_upperpart_2_2_3 {

    background-color: transparent;

    height: inherit;
    width: 0.5em;


}

.container_robot_upperpart_2_3 {


    background-color: transparent;

    height: 1em;
    width: inherit;
}


.container_robot_upperpart_3 {


    background-color: transparent;

    height: inherit;
    width: 1em;

}

/* SIDE CANNON */

.container_robot_upperpart_sidecannon {

    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: column;


    z-index: 110;
    position: absolute;
}

.container_robot_upperpart_sidecannon_1 {

    background-color: transparent;

    height: 1.8em;
    width: inherit;



}

.container_robot_upperpart_sidecannon_2 {

    background-color: transparent;

    height: 1.4em;
    width: inherit;

    display: flex;
    flex-direction: row;



}

.container_robot_upperpart_sidecannon_2_1 {

    background-color: transparent;

    height: inherit;
    width: 2.5em;



}

.container_robot_upperpart_sidecannon_2_2 {

    background-color: transparent;

    height: inherit;
    width: 2.5em;

    display: flex;
    flex-direction: inherit;

}

/* SIDE CANNON BODY */

.container_robot_upperpart_sidecannon_2_2_1 {

    background-color: lightslategray;

    height: inherit;
    width: 1.4em;

    border-radius: 50% 0% 0% 50%;
}


.container_robot_upperpart_sidecannon_2_2_2 {

    background-color: transparent;

    height: inherit;
    width: 0.5em;

    display: flex;
    flex-direction: column;

}

/* SIDE BARRELS */


.container_robot_upperpart_sidecannon_2_2_2_1 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_2_2_2_2 {
    background-color: lightgray;

    height: 0.2em;
    width: inherit;

    border-radius: 20% 0% 0% 20%;
}

.container_robot_upperpart_sidecannon_2_2_2_3 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_2_2_2_4 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;

    border-radius: 20% 0% 0% 20%;
}

.container_robot_upperpart_sidecannon_2_2_2_5 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_2_2_2_6 {
    background-color: lightgray;

    height: 0.2em;
    width: inherit;

    border-radius: 20% 0% 0% 20%;
}

.container_robot_upperpart_sidecannon_2_2_2_7 {
    background-color: transparent;

    height: 0.2em;
    width: inherit;
}

.container_robot_upperpart_sidecannon_3 {

    background-color: transparent;

    height: 1.8em;
    width: inherit;



}

/* ROBOT: WHEELS AND BASE */


.container_robot_groundpart {

    background-color: transparent;

    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: row;
}

/* LEFT WHEEL */

.container_robot_groundpart_1 {
    background-color: darkslategray;

    height: inherit;
    width: 2em;

    border-radius: 15% 0% 0% 15%;
}

/* BASE */

.container_robot_groundpart_2 {
    background-color: transparent;

    height: inherit;
    width: 1em;

    display: flex;
    flex-direction: column;

}

.container_robot_groundpart_2_1 {
    background-color: transparent;

    height: 0.3em;
    width: inherit;

}

.container_robot_groundpart_2_2 {
    background-color: black;

    height: 4.4em;
    width: inherit;

}

.container_robot_groundpart_2_3 {
    background-color: transparent;

    height: 0.3em;
    width: inherit;

}

/* RIGHT WHEEL */

.container_robot_groundpart_3 {
    background-color: darkslategray;

    height: inherit;
    width: 2em;

    border-radius: 0% 15% 15% 0%;
}