/* screen1 */

.screen_welcome {

    background-color: transparent;


    height: 85vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    transition: 1s;

}

.screen_welcome_skipbutton {

    background-color: black;

    height: 5em;
    width: 40em;

    border-radius: 1em 0em 0em 1em;

    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 1em;
}

#rightside_expansion {
    -webkit-animation: rightside_expansion 3s linear;
    -moz-animation: rightside_expansion 3s linear;
    -ms-animation: rightside_expansion 3s linear;
    -o-animation: rightside_expansion 3s linear;
    animation: rightside_expansion 3s linear;
}

@-webkit-keyframes rightside_expansion {
    from {
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes rightside_expansion {
    from {
        -ms-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -ms-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}